h1{
    text-align: center;
}

#DadesPersonals{
    background-color: hsl(180, 82%, 78%);
}

#FormaAcces{
    background-color: hsl(180, 69%, 57%);
}

#DocumentsAdjunts{
    background-color: hsl(180, 84%, 35%);
}

legend{
    background-color: white;
    border: 1px solid black;
}

input[type=file]::file-selector-button {  
    background-color:hsl(0, 1%, 37%);
    color: #ffffff;
}

input[type=file]::file-selector-button:hover {
    background-color: hsl(0, 1%, 53%);
}

input[type=button], input[type=submit], input[type=reset] {   
    background-color:hsl(0, 1%, 37%);
    color: #ffffff;
    
}

input[type=button]:hover {   
    background-color: hsl(0, 1%, 53%);
    color: #ffffff;
}